@font-face {
    font-family: Gallagher;
    src: url(font/Gallagher-Shadow.ttf);
}

*{
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #040a79;
}

header {
    background-color: #0a0a0a;
    background-position: center;
    background-size: 2000px;
    background-repeat: no-repeat;
    color: #fff;
    padding: 20px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    width: auto;
    height: 300px;
}

h2 {
    color: #fff;
}

.navigation nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.navigation nav ul li {
    display: inline;
    margin: 0 20px;
}

.navigation nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.7s ease;
}

.navigation nav a:hover {
    text-decoration: none;
    color: #ff0000;
    font-weight: bold;
}

.hero {
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    background: linear-gradient(to bottom, #0a0a0a, #040a79);
}

.hero h2{
    text-align: center;
    font-size: 5em;
    font-family: Gallagher;
    font-weight: 1;
    margin-bottom: 0;
}

.about {
    background-color: #040a79;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.about h2{
    text-align: center;
    font-size: 5em;
    font-family: Gallagher;
    font-weight: 1;
    margin-bottom: 0;
}

.projects-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #040a79, #444);
}

.projects-grid h2{
    text-align: center;
    font-size: 5em;
    font-family: Gallagher;
    font-weight: 1;
    margin-bottom: 0;
}

.project {
    width: auto;
    color: #fff;
    background-color: #fff;
    padding: 20px;
    background-color: #0a0a0a;
    background: linear-gradient(to right bottom, #1e10df, #8b0697);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.project img {
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff3d;
}

.project a{
    color: #fff;
    text-decoration: underline;
    transition: all 0.5s ease;
}

.project a:hover{
    color: #047b90;
}

.project a:active{
    color: #ff0000;
}

.contact {
    background-color: #444;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.cardcontainer{
    display: flex;
    justify-content: space-evenly;
    background-color: #040a79;
}

.cardbody{
    background: linear-gradient(to right bottom, #9d10df, #10cec4);
    padding: 20px;
    border-radius: 30px;
    max-width: 500px;
}

.cardbody img{
    border-radius: 100%;
    width: 450px;
    height: 450px;
}

.cardbody h1{
    color: #fff;
    text-align: center;
    font-size: 2em;
}

.cardbody p{
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.member-mobile{
    display: none;
}

.group-projects-container{
    padding: 20px;
}

.group-projects-container h2{
    text-align: center;
    font-size: 5em;
    font-family: Gallagher;
    font-weight: 1;
    margin-bottom: 0;
}

.group-projects{
    display: flex;
    justify-content: space-evenly;
}

.group-projects img{
    width: auto;
    height: 200px;
    background-color: #ffffff3d;
    padding: 20px;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.group-projects img:hover{
    width: auto;
    height: 210px;
    background-color: #ffffff83;
    border-radius: 10px;
}

@media screen and (max-width : 768px){
    header{
        background-size: 1000px;
    }
    .member{
        display: none;
    }
    .member-mobile{
        display: inherit;
    }
    .member-mobile .cardcontainer{
        display: block;
    }
    .member-mobile .cardbody{
        max-width: none;
        margin: 20px;
    }
    .member-mobile .cardbody img{
        display: none;
    }
    .project {
        width: auto;
        color: #fff;
        background-color: #fff;
        padding: 20px;
        background-color: #333;
        border-radius: 30px;
    }
    .project img {
        width: 300px;
        height: auto;
        border-radius: 30px;
    }
    .project a{
        color: #fff;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .project a:active{
        color: #047b90;
    }
}

@media screen and (max-width : 426px){
    header{
        background-size: 500px;
        height: 250px;
    }
    .title img{
        width: 350px;
        height: auto;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background: linear-gradient(to bottom, #040a79, #444);
    }
    .project {
        width: 300px;
        color: #fff;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        background-color: #333;
        border-radius: 20px;
    }
    .project img {
        width: 200px;
        height: auto;
        border-radius: 20px;
    }
    .project a{
        color: #a81010;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .project a:active{
        color: #047b90;
    }
}

@media screen and (max-width : 320px){
    header{
        background-size: 350px;
        height: 250px;
    }
    .title img{
        width: 300px;
        height: auto;
    }
    .project {
        width: 240px;
        color: #fff;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        background-color: #333;
        border-radius: 20px;
    }
    .project img {
        width: 200px;
        height: auto;
        border-radius: 20px;
    }
    .project a{
        color: #a81010;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .project a:active{
        color: #047b90;
    }
}